<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <a class="nav-item nav-link">
          <img src="assets/footer/afma.png" alt="angular logo" />
        </a>
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">
        <a class="nav-item nav-link">
          <span>Assurance Auto</span>
        </a>
        <a class="nav-item nav-link">
          <span>Assurance habitation</span>
        </a>
        <a class="nav-item nav-link">
          <span>Assurance moto</span>
        </a>
        <a class="nav-item nav-link">
          <span>Sante / prevoyance</span>
        </a>
      </div>
      <div class="col">
        <a class="nav-item nav-link text-bold">
          <span>Déclaration sinistre</span>
        </a>
        <a class="nav-item nav-link">
          <span>Sinistre Auto</span>
        </a>
        <a class="nav-item nav-link">
          <span>Sinistre habitation</span>
        </a>
        <a class="nav-item nav-link">
          <span>Sinistre santé</span>
        </a>
      </div>
      <div class="col">
        <a class="nav-item nav-link text-bold">
          <span>Nous connaitre </span>
        </a>
        <a class="nav-item nav-link">
          <span>La companie</span>
        </a>
        <a class="nav-item nav-link">
          <span>Communiqués Financiers</span>
        </a>
        <a class="nav-item nav-link">
          <span>Rapport d'activité</span>
        </a>
      </div>
    </div>
  </div>

  <div class="row subfooter">
    <div class="col">
      <a class="nav-item-subfooter nav-link padding-0">
        <span>Mentions légales</span>
      </a>
    </div>

    <div class="col">
      <a class="nav-item-subfooter nav-link padding-0">
        <span>Conditions générale d'utilisation</span>
      </a>
    </div>

    <div class="col">
      <a class="nav-item-subfooter nav-link">
        <span>Politique de confidentialité</span>
      </a>
    </div>

    <div class="col">
      <a class="nav-item-subfooter nav-link">
        <span>Politique cookies</span>
      </a>
    </div>

    <div class="col">
      <a class="nav-item-subfooter nav-link">
        <span>Paramétrage cookie</span>
      </a>
    </div>
  </div>
</footer>
