.footer {
  background-color: var(--bg-secondary);
}

.subfooter {
  border: var(--border-color-subfooter);
  background-color: var(--bg-sub-footer);
}

.mb-md-0:nth-child(2) {
  margin-top: 51px;
}

.mb-md-0:nth-child(3) {
  margin-top: 51px;
}
