<!-- Footer -->
<footer class="footer text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <a class="nav-item nav-link">
            <img src="assets/footer/afma.png" alt="angular logo" />
          </a>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-white"> Assurance Auto </a>
            </li>
            <li>
              <a class="text-white"> Assurance habitation </a>
            </li>
            <li>
              <a class="text-white"> Assurance moto </a>
            </li>
            <li>
              <a class="text-white"> Sante / prevoyance </a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Déclaration sinistre</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-white"> Assurance habitation </a>
            </li>
            <li>
              <a class="text-white"> Sinistre Auto </a>
            </li>
            <li>
              <a class="text-white"> Sinistre habitation </a>
            </li>
            <li>
              <a class="text-white"> Sinistre santé </a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Nous connaitre</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-white">La companie</a>
            </li>
            <li>
              <a class="text-white">Communiqués Financiers</a>
            </li>
            <li>
              <a class="text-white">Publication Financiers</a>
            </li>
            <li>
              <a class="text-white">Rapport d'activité</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
</footer>

<!-- Footer -->
<footer class="subfooter text-center text-white">
  <div class="text-center p-5">
    <div class="row">
      <div class="col">
        <a class="nav-item nav-link">
          <span>Mentions légales</span>
        </a>
      </div>

      <div class="col">
        <a class="nav-item nav-link">
          <span>Conditions générale d'utilisation</span>
        </a>
      </div>

      <div class="col">
        <a class="nav-item nav-link">
          <span>Politique de confidentialité</span>
        </a>
      </div>

      <div class="col">
        <a class="nav-item nav-link">
          <span>Politique cookies</span>
        </a>
      </div>

      <div class="col">
        <a class="nav-item nav-link">
          <span>Paramétrage cookie</span>
        </a>
      </div>
    </div>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
