<div class="container p-1" [@bounce]="'bounce'">
  <section class="">
    <!--Grid row-->
    <div class="row">
      <h2 class="main-name"><p>protéger votre logement</p></h2>
    </div>

    <div class="row">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row g-0">
      <div class="col-lg-6 col-md-6 mb-12">
        <div class="card float-right">
          <a>
            <img class="card-img-top" src="../../../assets/landingPage/fs.png" alt="Card image cap" />
          </a>
          <div class="card-body">
            <h5 class="card-title">Garanties Proposées</h5>
            <p class="card-text">Consultez une riche panoplies des garanties adoptées à vous besoins</p>
            <button type="button" class="btn">Voir les garanties</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 mb-12">
        <div class="card">
          <a>
            <img class="card-img-top" src="../../../assets/landingPage/fs.png" alt="Card image cap" />
          </a>
          <div class="card-body">
            <h5 class="card-title">Avantages du contractMRH</h5>
            <p class="card-text">Des tarifs avantageux , une couverture compléte , des experts pour vous conseiller</p>
            <button type="button" class="btn">Voir les avantages</button>
          </div>
        </div>
      </div>
    </div>
    <!--Grid row-->
  </section>
</div>
