@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
  background-color: var(--bg-secondary);
}

#navbar-menu {
  padding-left: 88px;
  margin-left: 48px;
}

#navbar-menu-right {
  padding-left: 88px;
  margin-left: 48px;
}

.text-color {
  color: white;
}

.curvedheader {
  z-index: -10;
  width: 100%;
  height: 60%;
  margin-top: -12px;
  position: absolute;
  background-image: linear-gradient(#f4f0fe, #f4f0fe);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}
