<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="https://github.com/ngx-rocket" translate>APP_NAME</a> -->
      <button
        class="navbar-toggler"
        type="button"
        aria-controls="navbar-menu"
        aria-label="Toggle navigation"
        (click)="toggleMenu()"
        [attr.aria-expanded]="!menuHidden"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="nav-item nav-link text-uppercase text-color" routerLink="/home" routerLinkActive="active">
            <!-- <i class="fas fa-home"></i> -->
            <span translate>Particuliers</span>
          </a>

          <a class="nav-item nav-link text-uppercase text-color" routerLink="/simulator" routerLinkActive="active">
            <!-- <i class="fas fa-question-circle"></i> -->
            <span translate>Professionels</span>
          </a>

          <a class="nav-item nav-link text-uppercase text-color" routerLink="/simulator1" routerLinkActive="active">
            <!-- <i class="fas fa-question-circle"></i> -->
            <span translate>Entreprises</span>
          </a>
        </div>
      </div>

      <div id="navbar-menu-right" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="nav-item nav-link text-uppercase text-color" routerLink="/home1" routerLinkActive="active">
            <!-- <i class="fas fa-home"></i> -->
            <span translate>Trouver une Agence</span>
          </a>

          <a class="nav-item nav-link text-uppercase text-color" routerLink="/simulator2" routerLinkActive="active">
            <!-- <i class="fas fa-question-circle"></i> -->
            <span translate>Reclamation</span>
          </a>

          <a class="nav-item nav-link text-uppercase text-color" routerLink="/simulator3" routerLinkActive="active">
            <!-- <i class="fas fa-question-circle"></i> -->
            <span translate>Contact</span>
          </a>

          <a class="nav-item nav-link text-uppercase text-color" routerLink="/simulator4" routerLinkActive="active">
            <!-- <i class="fas fa-question-circle"></i> -->
            <span translate>Carrieres</span>
          </a>
        </div>
      </div>

      <!-- <div class="navbar-nav ml-auto">
        <app-language-selector [inNavbar]="true"></app-language-selector>
      </div> -->
    </div>
  </nav>
</header>
