<div class="subheader">
  <div class="row">
    <div class="col">
      <img src="assets/footer/afma.png" alt="angular logo" />
    </div>

    <div class="col">
      <button type="button" class="btn btn-primary">Mon Espace</button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <h2><p>L'assurance Multirisque Habitation</p></h2>
      <h2><p>Qui vous Convient le mieux</p></h2>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <p>Souscriver Votre assurance en ligne</p>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary">Obtenir un devis gratuitement</button>
    </div>
  </div>
</div>
