.container {
  background-image: url(../../../assets/landingPage/bg.png);
  background-size: cover;
  min-height: 600px;
}

.main-title {
  color: #54a3d7;
  text-transform: capitalize;
  font-style: normal;
  text-decoration: none;
  line-height: 1em;
  text-shadow: none;
  word-spacing: 5.4px;
  letter-spacing: 1.2px;
  font-weight: 700;
  letter-spacing: 2.2px !important;
  text-align: center !important;
  white-space: pre-line !important;
  font-family: "Annie Use Your Telescope", handwriting !important;
}

.second-title {
  color: #040505;
  text-transform: capitalize;
  font-style: normal;
  text-decoration: none;
  line-height: 1em;
  text-shadow: none;
  word-spacing: 5.4px;
  letter-spacing: 1.2px;
  font-weight: 700;
  letter-spacing: 2.2px !important;
  text-align: center !important;
  white-space: pre-line !important;
  font-family: "Annie Use Your Telescope", handwriting !important;
}

.btn {
  text-align: left;
  margin-top: 24px;
  background-color: #54a3d7;
}
