<div class="container p-2">
  <section class="">
    <!--Grid row-->
    <div class="row">
      <div class="col-lg-9 col-md-6 mb-4 mb-md-0">
        <a class="nav-item nav-link">
          <img src="assets/footer/afma.png" alt="angular logo" />
        </a>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <button routerLink="/admin" type="button" class="btn btn-primary">Mon Espace</button>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
    <!--Grid row-->
    <div class="row">
      <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
        <h2 class="main-title"><p>L'assurance Multirisque Habitation</p></h2>
        <h2 class="second-title"><p>Qui vous Convient le mieux</p></h2>
        <br />
        <p>Souscriver Votre assurance en ligne</p>
        <br />
        <div [@bouncebtn]="'bouncebtn'">
          <button type="button" class="btn btn-primary">Obtenir un devis gratuitement</button>
        </div>
      </div>
    </div>
    <!--Grid row-->
  </section>
  <!-- Section: Links -->
</div>
