<div class="container p-2" [@bounce]="'bounce'">
  <section class="">
    <!--Grid row-->
    <div class="row">
      <h2 class="main-name"><p>Rien n'est de plus Simple ou de plus rapide</p></h2>
    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row no-gutter">
      <div class="col-lg-4 col-md-4 mb-12">
        <div class="card">
          <a>
            <img class="card-img-top" src="../../../assets/landingPage/fs.png" alt="Card image cap" />
          </a>
          <div class="card-body">
            <h5 class="card-title">Choisissez votre couverture</h5>
            <p class="card-text">Personnaliser votre garantie d'assurance</p>
            <a>
              <img class="card-img-bottom" src="../../../assets/steps/1-35x35.png" alt="Card image cap" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 mb-12">
        <div class="card">
          <a>
            <img class="card-img-top" src="../../../assets/landingPage/fs.png" alt="Card image cap" />
          </a>
          <div class="card-body">
            <h5 class="card-title">Recevez votre devis</h5>
            <p class="card-text">AFMA négocier pour vous les meilleurs offres</p>
            <a>
              <img class="card-img-bottom" src="../../../assets/steps/2-35x35.png" alt="Card image cap" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 mb-12">
        <div class="card">
          <a>
            <img class="card-img-top" src="../../../assets/landingPage/fs.png" alt="Card image cap" />
          </a>
          <div class="card-body">
            <h5 class="card-title">Souscrivez en ligne</h5>
            <p class="card-text">AFMA vous livre votre attestation en 24h</p>
            <a>
              <img class="card-img-bottom" src="../../../assets/steps/3-35x35.png" alt="Card image cap" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--Grid row-->
    <!--Grid row-->

    <!--Grid row-->
  </section>
  <!-- Section -->
  <!-- Section -->

  <!-- Section -->
</div>
