<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="https://github.com/ngx-rocket" >APP_NAME</a> -->
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbar-menu"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!menuHidden"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
      <div class="navbar-nav me-auto mb-2 mb-lg-0" (click)="open()">
        <a>
          <img src="assets/admin/afma-60x50.png" alt="angular logo" />
        </a>
      </div>
    </div>
  </div>
</nav>
