<div class="container p-1" [@bounce]="'bounce'">
  <section class="">
    <!--Grid row-->
    <div class="row g-0">
      <div class="col-lg-5 col-md-12 mb-12">
        <img class="logo" height="400px" src="../../../assets/landingPage/callus-300x300.png" alt="angular logo" />
      </div>
      <div class="col-lg-7 col-md-12 mb-12">
        <div>
          <div class="row">
            <h2 class="main-name"><p>Vous avez des questions</p></h2>
            <p>bénéficier des conseils et de l'expertise de AFMA,</p>
            <p>Courtier N°1 au Maroc</p>
          </div>
          <button type="button" class="btn btn-primary">Nous Contacter</button>
        </div>
      </div>
    </div>
    <!--Grid row-->
  </section>
</div>
